/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block }
audio,
canvas,
video { display: inline-block;*display:inline;*zoom:1 }
audio:not([controls]) { display: none;height:0 }
[hidden] { display: none }
html { font-size: 100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100% }
html,
button,
input,
select,
textarea { font-family: sans-serif }
body { margin: 0 }
a:focus { outline: thin dotted }
a:hover,
a:active { outline: 0 }
h1 { font-size: 2em;margin:0.67em 0 }
h2 { font-size: 1.5em;margin:0.83em 0 }
h3 { font-size: 1.4em;margin:1em 0 }
h4 { font-size: 1em;margin:1.33em 0 }
h5 { font-size: 0.83em;margin:1.67em 0 }
h6 { font-size: 0.75em;margin:2.33em 0 }
abbr[title] { border-bottom: 1px dotted }
b,
strong { font-weight: bold }
blockquote { margin: 1em;padding:0 30px;border-left:8px solid #add8e6 }
dfn { font-style: italic }
mark { background: #ff0;color:#000 }
p,
pre { margin: 1em 0 }
pre,
code,
kbd,
samp { font-family: monospace,serif;_font-family:"courier new",monospace;font-size:1em }
pre { white-space: pre;white-space:pre-wrap;word-wrap:break-word }
q { quotes: none }
q:before,
q:after { content: '';content:none }
small { font-size: 75% }
sub,
sup { font-size: 75%;line-height:0;position:relative;vertical-align:baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
dl,
menu,
ol,
ul { margin: 1em 0 }
dd { margin: 0 0 0 40px }
menu,
ol,
ul { padding: 0 0 0 40px }
nav ul,
nav ol { list-style: none;list-style-image:none }
img { border: 0;-ms-interpolation-mode:bicubic }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
form { margin: 0 }
fieldset { border: 1px solid silver;margin:0 2px;padding:0.35em 0.625em 0.75em }
legend { border: 0;padding:0;white-space:normal;*margin-left:-7px }
button,
input,
select,
textarea { font-size: 100%;margin:0;vertical-align:baseline;*vertical-align:middle }
button,
input { line-height: normal }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer;-webkit-appearance:button;*overflow:visible }
button[disabled],
input[disabled] { cursor: default }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box;padding:0;*height:13px;*width:13px }
input[type="search"] { -webkit-appearance: textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0;padding:0 }
textarea { overflow: auto;vertical-align:top }
table { border-collapse: collapse;border-spacing:0 }
.gist { color: #000 }
.gist div { padding: 0;margin:0 }
.gist .gist-file { border: 1px solid #dedede;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;margin-bottom:1em }
.gist .gist-file .gist-meta { overflow: hidden;font-size:85%;padding:.5em;color:#666;background-color:#eaeaea }
.gist .gist-file .gist-meta a { color: #369 }
.gist .gist-file .gist-meta a:visited { color: #737 }
.gist .gist-file .gist-data { overflow: auto;word-wrap:normal;background-color:#f8f8ff;border-bottom:1px solid #ddd;font-size:100% }
.gist .gist-file .gist-data pre { font-family: "Bitstream Vera Sans Mono","Courier",monospace;background:transparent !important;margin:0 !important;border:none !important;padding:0.25em 0.5em 0.5em 0.5em !important }
.gist .gist-file .gist-data .gist-highlight { background: transparent !important }
.gist .gist-file .gist-data .gist-line-numbers { background-color: #ececec;color:#aaa;border-right:1px solid #ddd;text-align:right }
.gist .gist-file .gist-data .gist-line-numbers span { clear: right;display:block }
.gist-syntax { background: #ffffff }
.gist-syntax .c { color: #999988;font-style:italic }
.gist-syntax .err { color: #a61717;background-color:#e3d2d2 }
.gist-syntax .k { color: #000000;font-weight:bold }
.gist-syntax .o { color: #000000;font-weight:bold }
.gist-syntax .cm { color: #999988;font-style:italic }
.gist-syntax .cp { color: #999999;font-weight:bold }
.gist-syntax .c1 { color: #999988;font-style:italic }
.gist-syntax .cs { color: #999999;font-weight:bold;font-style:italic }
.gist-syntax .gd { color: #000000;background-color:#fdd }
.gist-syntax .gd .x { color: #000000;background-color:#faa }
.gist-syntax .ge { color: #000000;font-style:italic }
.gist-syntax .gr { color: #a00 }
.gist-syntax .gh { color: #999 }
.gist-syntax .gi { color: #000000;background-color:#dfd }
.gist-syntax .gi .x { color: #000000;background-color:#afa }
.gist-syntax .go { color: #888 }
.gist-syntax .gp { color: #555 }
.gist-syntax .gs { font-weight: bold }
.gist-syntax .gu { color: #aaa }
.gist-syntax .gt { color: #a00 }
.gist-syntax .kc { color: #000000;font-weight:bold }
.gist-syntax .kd { color: #000000;font-weight:bold }
.gist-syntax .kp { color: #000000;font-weight:bold }
.gist-syntax .kr { color: #000000;font-weight:bold }
.gist-syntax .kt { color: #445588;font-weight:bold }
.gist-syntax .m { color: #099 }
.gist-syntax .s { color: #d14 }
.gist-syntax .na { color: teal }
.gist-syntax .nb { color: #0086b3 }
.gist-syntax .nc { color: #445588;font-weight:bold }
.gist-syntax .no { color: teal }
.gist-syntax .ni { color: purple }
.gist-syntax .ne { color: #990000;font-weight:bold }
.gist-syntax .nf { color: #990000;font-weight:bold }
.gist-syntax .nn { color: #555 }
.gist-syntax .nt { color: navy }
.gist-syntax .nv { color: teal }
.gist-syntax .ow { color: #000000;font-weight:bold }
.gist-syntax .w { color: #bbb }
.gist-syntax .mf { color: #099 }
.gist-syntax .mh { color: #099 }
.gist-syntax .mi { color: #099 }
.gist-syntax .mo { color: #099 }
.gist-syntax .sb { color: #d14 }
.gist-syntax .sc { color: #d14 }
.gist-syntax .sd { color: #d14 }
.gist-syntax .s2 { color: #d14 }
.gist-syntax .se { color: #d14 }
.gist-syntax .sh { color: #d14 }
.gist-syntax .si { color: #d14 }
.gist-syntax .sx { color: #d14 }
.gist-syntax .sr { color: #009926 }
.gist-syntax .s1 { color: #d14 }
.gist-syntax .ss { color: #990073 }
.gist-syntax .bp { color: #999 }
.gist-syntax .vc { color: teal }
.gist-syntax .vg { color: teal }
.gist-syntax .vi { color: teal }
.gist-syntax .il { color: #099 }
div:before,
div:after { content: '';display:table }
aside { position: relative;display:block }
ul { list-style-type: none }
.hide { visibility: hidden;height:1px;clip:rect(0 0 0 0);position:absolute }
input,
textarea { outline: none;background:none }
body { background: #fff;color:#222 }
body,
textarea,
pre,
input { font-family: "Lato",Helvetica,sans-serif;line-height:1.8em;font-size:16px;font-weight:400 }
h1,
h2,
h3,
h4,
h5,
#text-title pre { font-weight: 900;word-wrap:break-word;line-height:1.3em }
h1,
#text-title pre,
#text-title textarea { font-weight: 900;font-size:35px }
#text-slug pre { font-weight: 500;word-wrap:break-word;line-height:1.3em }
h1,
#text-slug pre,
#text-slug textarea { font-weight: 500;font-size:18px; line-height:1.3em  }

p { color: #555 }
a,
a:visited a:active { color: #000;text-decoration:none;border-bottom:1px solid #ddd }
a:hover,
#admin #published h3 a:hover { color: red }
header { width: 162px;border-right:1px solid #ddd;position:fixed;top:0;bottom:0;padding:20px 40px }
header span { color: #888;font-weight:500 }
header span.powered-by { position: absolute;bottom:30px;font-size:11px }
header ul { padding: 0;margin:50px 0 }
header li { margin: 0 0 3px 0 }
header li a { padding: 2px 0;color:#888;border-bottom:2px solid #eee }
header li a:hover { border-color: #777;color:#444 }
#container { margin-left: 243px;position:relative }
#container time { display: block;padding:20px 0 20px 50px;text-transform:uppercase;font-weight:900;font-size:12px;border-bottom:1px solid #ddd }
#content section { padding: 26px 0 40px 50px;border-bottom:1px solid #ddd;position:relative }
#content h1.external { margin-top: 25px;font-size:18px }
#content h1.external .permalink { margin-left: 8px;font-size:19px;color:#999;border:none }
.show #content section { border-bottom: none }
code { font-size: 13px;background:#F2F2F2;padding:20px;margin:20px;display:block }
.contain { width: 600px;position:relative }
.contain img { max-width: 100%;height:auto }
#publish-bar { position: fixed;bottom:0;left:0;background:#222;color:#fff;width:100%;text-align:center;padding:15px 0 15px }
#publish-bar .contain { margin: 0 auto;width:600px }
#publish-bar input[type=text] { border: none;border-bottom:1px solid #333;padding:2px;width:220px;font-size:12px;color:#999 }
#publish-bar .menu.active { background: #fff;color:#000 }
#publish-bar .sub-menu { margin: 0;background:#222;padding:20px;position:absolute;bottom:0;left:60px;visibility:hidden;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px }
#publish-bar .sub-menu.visible { visibility: visible }
#publish-bar .sub-menu li { margin: 0 0 15px 0 }
#publish-bar input[type=submit],
#publish-bar a,
.button { display: inline-block;background:#000;padding:8px 12px;font-weight:bold;border:none;color:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px }
.button.secondary { padding: 0 5px;background:#aaa;font-size:12px }
#publish-bar input[type=submit]:hover,
#publish-bar a:hover,
.col h1 a:hover,
.col h2 a:hover,
.button:hover,
.button.secondary:hover { background: red;color:#fff }
.button.space-top { margin-top: 100px }
.left { float: left }
.right { float: right }
.actions { position: absolute;top:0;right:-60px;font-size:12px;margin:0;padding:0 }
.actions li { display: inline-block;margin:0 10px 0 0 }
label { font-size: 16px;color:#fff;font-weight:bold;margin:0 8px 0 0 }
#post_draft { position: relative;margin:0 20px 0 0 }
.admin-links { position: absolute;text-align:right;top:18px;right:20px;margin:0 }
.admin-links li { float: left;margin-left:6px }
.admin-links a { float: left }
.notice { position: absolute;top:0;background:lightYellow;width:100%;display:block;text-align:center;padding:3px 0;font-size:12px }
body.posts.edit #admin,
body.posts.new #admin { width: 100% }
#admin { width: 808px;margin:0 auto;position:relative }
#admin #save-button.saved { color: #999 }
#admin #save-button.saved:hover { cursor: normal }
#admin #drafts { float: left;border:4px solid #000;border-top:none;background:#fff;margin:0 0 20px 0;padding-top:10px }
#admin #drafts form { margin: 20px 0 20px -20px;padding:0 0 0 20px;border-left:4px solid #add8e6 }
#admin #drafts #post_title { width: 350px;font-size:16px;font-weight:400;margin:0;border-bottom:1px solid #ddd }
#admin #published { float: right }
#admin #published h2 { color: #999 }
#admin #published h2 a { margin-top: -2px }
#admin #published h3 a { color: #999 }
#admin .col h1,
#admin .col h2 { position: relative;text-transform:uppercase }
#admin .col h1 a,
#admin .col h2 a { position: absolute;top:0;right:0;font-size:12px;padding:2px 10px;line-height:2.7em;margin:5px 0 0 }
#admin .col { width: 360px;padding:20px }
#admin .col h2 a { background: #999 }
#admin .col h2 a:hover { background: red }
#admin .col ul { padding: 0 }
#admin .col ul li { border-bottom: 1px solid #ddd;padding:15px 0;position:relative }
#admin .col ul li:hover .links { visibility: visible }
#admin .col ul li .links { position: absolute;right:0;top:14px;background:#fff;padding:1px 8px;visibility:hidden }
#admin .col ul li .links a { color: #999;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px }
#admin .col ul li .links a:hover { color: red }
#admin .col ul li h3 { margin: 0;font-size:16px;max-width:100%;text-overflow:ellipsis;overflow:hidden }
#admin .col ul li h3 a { border: none }
#admin textarea,
#admin pre { margin: 0;padding:0;outline:0;border:0 }
#admin .expandingArea { position: relative }
#admin .expandingArea>textarea,
#admin .expandingArea>pre { background: transparent;white-space:pre-wrap;word-wrap:break-word }
#admin .expandingArea>textarea { -webkit-box-sizing: border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:100% }
#admin .expandingArea.active>textarea { overflow: hidden;position:absolute;top:0;left:0;height:100%;resize:none }
#admin .expandingArea>pre { display: none }
#admin .expandingArea.active>pre { display: block;visibility:hidden }
fieldset.markdown { position: relative;border:none;margin:0;padding:0 }
.markdown:before { display: block;content:"";width:39px;height:24px;position:absolute;top:4px;left:-60px;background:url(/assets/markdown.png) no-repeat top left }
#text-title { margin: 23px 0 }
#post_title { width: 100%;border:none;background:none;line-height:45px }
#post_content { border: none;width:100%;position:relative;margin:0 }
form .permalink { position: absolute;left:-34px;top:12px;border:none;color:#ddd }
#split #post-preview { display: none }
#split #post-editor { margin-left: -25%;left:50%;width:700px }
#split.preview #post-preview { display: block }
#split.preview #post-editor { left: 0;margin:0;width:50% }
.split-section { width: 50%;position:fixed;left:0;top:0;padding:0 20px 100px;height:100%;overflow:scroll;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box }
#post-preview { background: #f0f4fc;border-left:1px solid #dbe3f1;right:0;left:auto }
.admin-view { font-size: 11px;margin:0 10px 2px 0;font-weight:900;text-transform:uppercase }
nav.pagination { text-align: right;font-size:16px;font-weight:900;text-transform:uppercase;margin:0;padding:0 }
nav.pagination a { margin-left: 10px }