<html lang="en-US"><head>
  <title>Admin</title>
  <link href="/static/admin.css" media="screen" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,900" rel="stylesheet" type="text/css">
<style type="text/css"></style></head>

<body class="admin posts admin" style="zoom: 1;">
  <div id="admin">
    <div id="save"></div>

    <div id="drafts" class="col">
  <h1>Drafts <a href="/new" class="button">New Draft</a></h1>
  <form accept-charset="UTF-8" action="/posts" class="new_post" id="new_post" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Ggm+AaGmTH7SUY/nCOgDsKl3LaVfqnYgh1CgdpopS/w="></div>
    <input id="post_title" name="post[title]" placeholder="Start typing your title here..." size="30" type="text">
</form>
<ul>
  {% for draft in drafts %}
    <li id="post-{{ draft.id }}">
    <h3>
        <a href="/admin/{{ view }}/{{ draft.slug }}">{{ draft.title }}</a>
        <span class="links">
            <a href="/{{ view }}/{{ draft.slug }}?preview=1" class="admin-view">view</a>
            <a href="/wefwefwef" class="admin-delete" data-confirm="Are you sure?" data-method="delete" rel="nofollow">x</a>
        </span>
    </h3>
  </li>
  {% endfor %}

  </ul>

</div>

<div id="published" class="col">
  <h2>Published <a href="http://fast-everglades-1595.herokuapp.com/" class="button">Home</a></h2>
  <ul>
    {% for post in published %}
    <li id="post-{{ post.id }}">
    <h3>
        <a href="/admin/{{ view }}/{{ post.slug }}">{{ post.title }}</a>
        <span class="links">
            <a href="/{{ view }}/{{ post.slug }}" class="admin-view">view</a>
        </span>
    </h3>
  </li>
  {% endfor %}

  </ul>

</div>
  </div>

  <div class="fit-vids-style">­<style>               .fluid-width-video-wrapper {                 width: 100%;                              position: relative;                       padding: 0;                            }                                                                                   .fluid-width-video-wrapper iframe,        .fluid-width-video-wrapper object,        .fluid-width-video-wrapper embed {           position: absolute;                       top: 0;                                   left: 0;                                  width: 100%;                              height: 100%;                          }                                       </style></div><script src="/assets/application-53a0433e8a1833caa417e2e9aa2d3009.js" type="text/javascript"></script>

</body></html>