{% extends "base.html" %}


{% block title %}
    kennethreitz.org
{% endblock %}


{% block heading %}
    <h1>Hi, there.</h1>

<!--     <h2>
          by Kenneth Reitz.
        </h2>

        <nav>
          <ul>
              <li><a href="#" rel="prev">&laquo; Previous </a></li>

              <li><a href="#" rel="next">Next &raquo;</a></li>

          </ul>
        </nav>

 -->

{% endblock %}


{% block content %}
    <!-- <aside>
        <p>Want to learn more?</p>
        <ul>
            <li>About Kenneth</li>
            <li>Upcoming Events</li>
            <li>Work for Hire</li>
        </ul>
    </aside> -->

    <p>My name is Kenneth Reitz.</p>
    <p>I am a wandering street photographer, musician, and moral fallibilist. </p>
    <p>I'm the product owner of Python at Heroku and a member of the Python Software Foundation. I believe that simplicity is always better than functionality.</p>

    <h2></h2>
    <p>This website is an evolving reflection of self. It is currently divided into three collections:</p>

    <h3><a href="/expressions" style="text-decoration:none;">Expressions —</a></h3>
    <p>Expressions are fully developed ideas and graduated experiments. <br/> They represent serious works of prose, audio, photo, code, and product.
    </p>

    <h3><a href="/exposures" style="text-decoration:none">Exposures —</a></h3>
    <p>Exposures are simple observations and experiences. They document daily life and the lifecycle of various experiments.</p>

    <h3><a href="/experiments" style="text-decoration:none">Experiments —</a></h3>
    <p>Experiments are evolving works, still under development. Proven experiments can graduate into expressions.</p>

    <p>&nbsp;<br/>Attention is the only currency we have in life. Thanks for lending me yours.</p>


{% endblock %}