{% extends "base.html" %}

{% block title %}
    {{ view|title }}{% if filter %} of {{ filter|title }}{% endif %} — kennethreitz.org
{% endblock %}

{% block heading %}
    <h1>{{ view|title }}{% if filter %} of {{ filter|title }}{% endif %}
    </h1>

{% endblock %}

{% block content %}
    <aside>
        <p>Filter by {{ view[:-1] }} style:</p>
        <ul>
            <li><a href="/{{ view }}/prose">prose</a></li>
            <li><a href="/{{ view }}/audio">audio</a></li>
            <li><a href="/{{ view }}/photo">photo</a></li>
            <li><a href="/{{ view }}/code">code</a></li>
            <li><a href="/{{ view }}/product">product</a></li>
        </ul>
        <hr>
        <p>Or, browse other types of content:</p>
        <ul>

            <li><a href="/expressions">expressions</a></li>
            <li><a href="/exposures">exposures</a></li>
            <li><a href="/experiments">experiments</a></li>
        </ul>

        <p><a href="/ia">Confused</a>?</p>

    </aside>
    <ul>
    {% for item in items %}
            <h3><a href="/{{ view }}/{{ item.slug }}">{{ item.title }}</a></h3>
            {% if item.status %}
                <p>Status: {{ item.status }}</p>
            {% else %}
                <p>{{ item.content|truncate(160)|markdown|striptags }}</p>
            {% endif %}

    {% endfor %}
    </ul>
{% endblock %}